*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Roboto', sans-serif;
  scroll-behavior: smooth;
  font-size: 16px;
}

body {
  background: var(--white-1);
  color: var(--jet);
  font-size: 1rem;
}

a,
img,
span,
input,
button,
ion-icon {
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

input,
button {
  font: inherit;
  background: none;
  border: none;
}

button {
  cursor: pointer;
}

ion-icon {
  pointer-events: none;
}

input {
  width: 100%;
}

li {
  list-style: none;
}

img {
  height: auto;
}

address {
  font-style: normal;
}

.h1,
.h2,
.h3 {
  font-family: 'Poppins', sans-serif;
  line-height: 1.2;
}

.h1 {
  color: var(--dark-blue-70);
  font-size: 2.25rem;
}

.h2,
.h3 {
  color: var(--dark-blue-60);
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 1.35rem;
}

.btn {
  background: linear-gradient(
    var(--deg, 90deg),
    var(--bright-blue) 0%,
    var(--light-blue) 100%
  );
  color: var(--white-1);
  font-size: 1rem;
  text-transform: uppercase;
  padding: 20px 30px;
  text-align: center;
  border-radius: 4px;
  box-shadow: var(--shadow-4);
}

.text-center {
  text-align: center;
}

.btn:is(:hover, :focus) {
  --deg: -90deg;
}

.section {
  padding-block: 7.5rem;
}

.container {
  padding-inline: 1.5rem;
}

.section-subtitle {
  color: var(--light-blue);
  font-family: 'Poppins', sans-serif;
  font-size: 1.1rem;
  text-transform: uppercase;
  font-weight: 700;
  margin-block-end: 10px;
}

.header-top,
.header-bottom .btn {
  display: none;
}

.header-bottom {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-block: 1rem;
  z-index: 2;
  background: var(--white-1);
}

.header-bottom.active {
  position: fixed;
  top: -5rem;
  animation: slide-in 0.5s var(--cubic-out) forwards;
  background: var(--white-1);
  box-shadow: var(--shadow-2);
}

@keyframes slide-in {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(100%);
  }
}

.header-bottom > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.25rem;
}

.logo {
  color: var(--dark-blue-50);
  font-family: 'Poppins', sans-serif;
  font-size: 1.8rem;
}

.nav-toggle-btn {
  color: var(--black);
  font-size: 2rem;
  border: 1px solid var(--black);
  padding: 0.3rem;
}

.nav-toggle-btn.active .open-menu,
.nav-toggle-btn .close-menu {
  display: none;
}

.nav-toggle-btn .open-menu,
.nav-toggle-btn.active .close-menu {
  display: block;
}

.navbar {
  position: absolute;
  top: calc(100% + 0.3rem);
  left: 1.5rem;
  right: 1.5rem;
  background: var(--white-1);
  padding-inline: 0;
  max-height: 0;
  box-shadow: var(--shadow-1);
  transition: 0.25s var(--cubic-out);
  visibility: hidden;
  overflow: hidden;
}

.navbar.active {
  visibility: visible;
  max-height: fit-content;
  transition-duration: 0.5s;
}

.navbar-list > li:not(:last-child) {
  border-block-end: 1px solid var(--gainsboro-50);
}

.navbar-link {
  text-transform: uppercase;
  color: var(--jet);
  font-weight: 500;
  padding: 1rem;
}

/* Hero */

.hero {
  width: 100%;
  overflow: hidden;
  height: 800px;
  background-size: cover !important;
  background: linear-gradient(
      -80deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0) 0%,
      rgba(255, 255, 255, 0.9) 60%
    ),
    url('../img/hero-background.jpg') no-repeat center center scroll;
  position: relative;
  padding-block-end: calc(7.5rem / 2);
}

.hero-content {
  margin-block-end: 1.85rem;
}

.hero-title {
  margin-block: 1rem 2rem;
}

.hero-text {
  font-size: 1.1rem;
  line-height: 1.5;
  margin-block-end: 2.5rem;
}

.hero-form {
  background: var(--white-1);
  max-width: 95%;
  padding: 1rem;
  border-radius: 4px;
  box-shadow: var(--shadow-3);
}

.hero-form .email-field {
  min-height: 4.35rem;
  background: var(--white-2);
  color: var(--black);
  padding-inline: 1rem;
  border-radius: 4px;
  margin-block-end: 1rem;
}

.hero-form .btn {
  width: 100%;
}

/* Service */

.service {
  margin-block-end: 0;
}

.service-icon {
  width: 100%;
  height: 100%;
}

.card-text {
  line-height: 1.6;
}

.service .section-title {
  margin-block-end: 3.1rem;
}

.service-list {
  display: grid;
  gap: 1rem;
}

.service-card {
  min-height: 100%;
  display: flex;
  align-items: flex-start;
  gap: 2rem;
  border: 1px solid var(--light-gray);
  border-radius: 4px;
  padding: 2rem;
}

.service-card .card-icon {
  width: 50px;
  flex-shrink: 0;
}

.service-card .card-title {
  margin-block-end: 8px;
}
